
.grid_container{
    margin: 10px 10px 10px 10px
}
.toolbar{
    background-color: #197bbd;
    color:#f0f4f7
    
}
.card {
  max-width: 300px;
  background-color: #556575;
}

h1{
  font-family: 'Roboto';
  font-size: 25px;
  font-style: bold 
}
  p{
    padding-top: 20px;
    padding-left: 10px;
      color: #197bbd;
      font-family: 'Roboto';
      font-size: 25px;
      font-style: normal;
  }
  .name{
    color:#f0f4f7; 
  }
  .subtitle{
    color:#a3b8ce;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 2px;
    display: inline-block;
  }
